@import "settings";
@import "foundation";

.hero-unit
{
  background: url(../img/guitar.jpg) no-repeat fixed center / cover;
  padding: rem-calc(20) 0;
  margin-bottom: rem-calc(20);
  h1
  {
    color: $body-bg;
    font-size: rem-calc(100);
    @media #{$small-only}
    {
      font-size: rem-calc(50);
      letter-spacing: rem-calc(-5);
    }
    font-weight: 400;
    letter-spacing: rem-calc(-9);
  }
}
